.header {
  max-width: 100%;
  min-height: 80px;
  background: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .logo {
    font-size: 40px;
    color: #fff;
  }
  ul {
    display: flex;
    gap: 2rem;
    align-items: center;

    li {
      color: antiquewhite;
    }
  }
}
